@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
:root {
  --primary_color: #015c39;
  --second_color: #cffcff;
  --third_color: #aaefdf;
  --third_color_modal: rgb(169, 239, 222, 0.7);
}
html {
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  max-width: 100vw;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(rgb(207, 252, 255, 0.8), rgb(207, 252, 255, 0.9)),
    url("../img/telemedicina.png");
  height: 100vh;
  width: 100vw;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}
main {
  margin-top: 70px;
}

.navbar .navbar-brand {
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
}

.navbar-nav .nav-item {
  margin: 0px 10px;
  padding: 10px;
  font-weight: bold;
  color: black;
}
.site-header {
  position: fixed;
  top: 0px;
  background-color: var(--third_color);
  padding: 0px;
  z-index: 900;
  width: 100vw;
}
.site-header .navbar {
  margin: 0px;
}

.site-header .navbar.active_drop {
  padding: 10px 40px 10px 10px !important;
}

.navbar .navbar-toggler {
  border: 2px solid var(--primary_color);
}

.nav-item .nav-link {
  padding: 15px;
}
.nav-item.active > a {
  border-bottom: 4px solid var(--primary_color);
  color: var(--primary_color);
}

.navbar-nav .nav-item .nav-link {
  color: inherit;
}

.navbar .nav-item:hover {
  background-color: var(--primary_color);
  color: #fff;
}
.navbar .dropdown.active_drop {
  display: block;
}
.login {
  cursor: pointer;
}
.login > * {
  pointer-events: none;
}
.login.out {
  display: none;
}

.navbar .dropdown {
  display: none;
  list-style-type: none;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 4px 0px;
}
.dropdown .dropdown-menu {
  background-color: var(--third_color);
  font-weight: bold;
  color: black;
}
.dropdown .dropdown-menu .dropdown-item:hover {
  background-color: var(--primary_color);
  color: #fff;
}

footer {
  width: 100vw;
  color: black;
}

footer .btn {
  border: 2px solid var(--primary_color);
}

footer .btn:hover {
  background-color: var(--primary_color);
}
.contenedor {
  display: flex;
  flex-direction: column;
}
.contenedor div {
  width: 50vh;
  margin: 0px auto;
}

.ultima {
  background-color: var(--third_color_modal);
  padding: 10px;
}
.ultima p {
  margin-bottom: 2px;
}

.ultima2 {
  background-color: var(--third_color);
  text-align: center;
  padding: 15px 0px;
  border-top: 3px solid rgba(1, 92, 57, 0.814);
}
.descripcion {
  font-size: 1.2rem;
  font-style: italic;
  font-weight: bold;
  padding: 0px;
  padding-left: 10%;
}
.contacto {
  padding-top: 20px;
}

@media (min-width: 992px) {
  .site-header .navbar {
    padding: 0px 10px 0px 10px !important;
  }
  .contenedor {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .contacto {
    padding-top: 0px;
  }
  .navbar .dropdown {
    padding: 10px 0px;
  }
  main {
    margin-top: 80px;
  }
}
