.sec{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#intro{
    margin: 100px 20px 100px 20px;
}

p{
    font-size: 20px;
}

#txtI, #txtH1{
    margin-bottom: 30px;
    width: 550px;
}

#imgInicial{
    width: 500px;
    transform: scaleX(-1);
}

#descricao{
    display: flex;
    flex-direction: column;
}

.posiçãoD{
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.imgDesc{
    width: 300px;
}

.containerDesc{
    position: relative;
    width: 600px;
}